<div id="change-password" class="well clearfix">
    <div class="panel panel-info" style="width:200px;height:320px;margin: 0 auto;">
        <div class="panel-heading">
            <h3 class="panel-title">修改密码</h3>
        </div>
        <div class="panel-body">
            <form id="change-password-form" class="form-horizontal" role="form" method="post">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="old-password" class="col-sm-4 control-label">旧密码：</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="old-password" placeholder="请输入原密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password1" class="col-sm-4 control-label">新密码：</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="password1" placeholder="请输入新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password2" class="col-sm-4 control-label">确认密码：</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="password2" placeholder="请再次输入新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5">
                            <button id="change-password-button" type="submit" class="btn btn-primary" style="margin-right: 10%;float: right">
                                确定
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $.ajaxSetup({
            data: {csrfmiddlewaretoken:'{{ csrf_token }}'},
        });
    $('#change-password-form').submit(function () {
        //alert("change-password");
        $.ajax({
            type: "POST",
            url: "/user/changepassword",
            data: {
                "old_password":$('#old-password').val(),
                "new_password1":$('#password1').val(),
                "new_password2":$('#password2').val()
            },
            dataType: 'json',
            success:function(data,textStatus){
                //alert("send success");
{#                $('#send-private-message')[0].reset();#}
                var errors = data["errors"];
                if(errors.length==0){
                    location.reload();
                }
                else{
                    //alert(errors);
                    var html = "<div class=\"alert alert-danger\">"
                    for (var key in errors){
                        html += errors[key]+"<br/>";
                    }
                    html += "</div>";
                    $("#change-password .panel-heading").after(html);
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);
            }

        });
        return false;
    });

</script>